# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
cartopy>=0.18.0
#matplotlib>=3.1.1
#numpy>=1.17.4
#pandas>=0.25.3
#rasterio>=1.0.21
#xarray>=0.14.1
